// Container
//
// Something to contain your storyboards.
//
// Markup:
// <div class="container {$modifiers}" style="height: 30em;"></div>
//
// .container-browser - Add a browser-like header
//
// Styleguide 1.1

.container {
  background-color: white;
  border-radius: $radius;
  border: 1px solid $gray-light;
  position: relative;
  width: $width-container;
  overflow: hidden;
  padding: 1em;
}

.container-browser {
  padding-top: 1em;

  &::before {
    @include position(absolute, 0.3em null null 0.3em);
    content: "⋯";
    font-size: 2em;
    line-height: 0;
    z-index: 1;
  }

  &::after {
    @include position(absolute, 0 0 null 0);
    background-color: $gray-lighter;
    border-bottom: 1px solid $gray-light;
    content: "";
    height: 1em;
  }
}
