.btstrp {
  @include clearfix;
  border-radius: 0.5em;
  border: 1px solid $gray-light;
  color: #333;
  font-size: $BTSTRP-base;
  line-height: 1.5;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  width: $BTSTRP-container;
  font-family: "BLOKKNeue-Regular", "helvetica neue", helvetica, arial, sans-serif;
}

.btstrp-browser {
  padding-top: 1em;

  &::before {
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    content: "⋯";
    font-size: 2em;
    line-height: 0;
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $gray-lighter;
    border-bottom: 1px solid $gray-light;
    content: "";
    height: 1em;
  }
}
